<div class="header">
  <img src="assets/icons/education-cap.png" alt="Educação Icon" class="header-icon">
  <h1>Educação</h1>
</div>

<div class="management-section">
  <div class="line"></div>
  <h2>LISTA TAREFAS</h2> <div class="line"></div>
</div>

<div class="table-container">
  <table class="table-custom">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Descrição</th>
        <th>Prazo</th>
        <th>Status</th>
        <th>Usuário ID</th>
        <th>Disciplina ID</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tarefa of tarefas">
        <td>{{ tarefa.id }}</td>
        <td>{{ tarefa.titulo }}</td>
        <td>{{ tarefa.descricao }}</td>
        <td>{{ tarefa.prazo }}</td>
        <td>{{ tarefa.status }}</td>
        <td>{{ tarefa.usuarioId }}</td> <td>{{ tarefa.disciplinaId }}</td> <td>
          <div class="action-buttons">
            <button class="action-btn edit" (click)="atualizarTarefa(tarefa.id)">
                <img src="assets/icons/edit-icon.png" alt="Editar">
            </button>
            <button class="action-btn delete" (click)="deletarTarefa(tarefa.id)">
                <img src="assets/icons/delete-icon.png" alt="Deletar">
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="footer-copyright">
  <p>© Carolaine Vasconcelos - 2025</p>
</div>