<div class="container">
  <h2>Lista de Cursos</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let curso of cursos">
        <td>{{ curso.id }}</td>
        <td>{{ curso.nome }}</td>
        <td>{{ curso.descricao }}</td>
        <td>
          <button class="btn btn-warning me-2" (click)="atualizarCurso(curso.id)">Atualizar</button>
          <button class="btn btn-danger" (click)="deletarCurso(curso.id)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
