<div class="header">
  <img src="assets/icons/education-cap.png" alt="Educação Icon" class="header-icon">
  <h1>Educação</h1>
</div>

<div class="management-section">
  <div class="line"></div>
  <h2>TAREFA</h2> <div class="line"></div>
</div>

<div class="options-container">
  <a routerLink="/tarefa/cadastrar" class="option-button">CADASTRAR</a>
  <a routerLink="/tarefa/listar" class="option-button">LISTAR</a>
</div>

<div class="footer-copyright">
  <p>© Carolaine Vasconcelos - 2025</p>
</div>