<div class="header">
  <img src="assets/icons/education-cap.png" alt="Educação Icon" class="header-icon">
  <h1>Educação</h1>
</div>

<div class="management-section">
  <div class="line"></div>
  <h2>GERENCIAMENTO</h2>
  <div class="line"></div>
</div>

<div class="cards-container-custom">
  <div class="card-item-custom">
    <div class="icon-circle user-bg">
      <img src="assets/icons/user-icon.png" alt="Usuário Icon"> </div>
    <h3>USUÁRIO</h3>
    <a routerLink="/usuario" class="custom-btn-access">Acessar</a> </div>

  <div class="card-item-custom">
    <div class="icon-circle task-bg">
      <img src="assets/icons/task-icon.png" alt="Tarefa Icon"> </div>
    <h3>TAREFA</h3>
    <a routerLink="/tarefa" class="custom-btn-access">Acessar</a> </div>

  <div class="card-item-custom">
    <div class="icon-circle course-bg">
      <img src="assets/icons/course-icon.png" alt="Curso Icon">
    </div>
    <h3>CURSO</h3>
    <a routerLink="/curso" class="custom-btn-access">Acessar</a> </div>

  <div class="card-item-custom">
    <div class="icon-circle discipline-bg">
      <img src="assets/icons/discipline-icon.png" alt="Disciplina Icon">
    </div>
    <h3>DISCIPLINA</h3>
    <a routerLink="/disciplina" class="custom-btn-access">Acessar</a> </div>
</div>

<div class="footer-copyright">
  <p>© Carolaine Vasconcelos - 2025</p>
</div>